body{
  background-color: #4E6975;
  text-align: center;
  color: white;
  background-image:linear-gradient(rgb(123, 183, 233),rgb(123, 183, 233)) ;
  background-size: cover;
}
a:link{
  text-decoration: none;
}
h1{
  font-size:calc(20px + 2vmin);
  color: rgb(0, 0, 0);
}
h2{
  color: rgb(105, 12, 158);
  font-size: calc(30px + 2vmin);;
}

.Home{
  float: left;
  margin-top: 15%;
  margin-right: 30%;
  margin-left: 30%;
  align-items: center;
}
.p{
  max-width: 50px;
  font-size: large;
}
.SignIn{
  display: inline-block;
  align-items: center;
  white-space: nowrap;
  display: flex;
  font-size: 20px;
}
.SignIn-1{
  opacity: 1;
  background-color: #81c405;
  padding: 6% 20% 8% 20%;
  font-size:calc(10px + 1vmin);
}
.SignIn-2{
  opacity: 1;
  background-color: #D9D9D9;
  margin-left: 3%;
  padding: 6% 20% 8% 20%;
  font-size:calc(10px + 1vmin);
}
.Learner{
  background-image: none;
}
.View{
  align-items: center;
  display: contents;
  align-content: center;
}
.Vdo-box{
    text-align: center;
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: calc(10px + 2vmin);
    color: pink;
    max-width: 95%;
    justify-items: left;
  }

.Vdo-Card{
  background-color: rgb(236, 255, 249);
  color: #282c34;
  display: flex;
  flex-direction: column;
  align-items:center;
  margin: 5%;
  border-radius: 4% 4% 4% 4%;
  max-width: 100%;
  max-height: 400px;
  padding: 2% 2% 0 2%;
  flex: 25%;
}
.Vdo-Image{
  max-width: 100%;
  max-height: inherit;
}
.Caption{
  padding: 0;
}
.Vdo-Card:hover , .Vdo-Image{
  -webkit-filter: drop-shadow(0 0 2px black);
  filter: drop-shadow(0 0 4px black);
}

.Vdo-Card:hover{
  background-color: rgb(241, 213, 178);
  font-weight:normal; 
  text-shadow: 1px 1px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
